html, body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: rgb(27, 26, 26);
}

main {
margin: 20px auto;
background: rgb(56, 28, 56);
color: whitesmoke;
width: 500px;
padding: 20px;
border-radius: 10px;
}

h1 {
    margin-top: 0;
}

h3 {
    text-align: center;
}

/*  BUTTON STYLES */
button {
    font-family: inherit;
    font-weight: 800;
    padding: 8px 14px;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    margin: 0 5px;
    background:rgb(56, 28, 56);
    color: whitesmoke;
}

.btnStyle {
    background-color: black;
}

.btnStyle:hover {
    background-color: rgb(56, 28, 56);
}
input {
    font-family: inherit;
    padding-left: 10px;
    width: 170px;
}

.btnContainer {
    margin-bottom: 20px;
    background: rgb(132, 71, 132);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

button:hover
 {
    cursor: pointer;
    background-color: black;
    color: white;
    transform: scale(1.10)
}

/* CHORE STYLES */
#chores {
    display: flex;
    width: 60%;
    margin: 10px auto;
    justify-content: space-between;
}

#chores p{
    margin: 0;
}

.choreData {
    flex: 1;
}

.lower {
    width: 50%;
    margin: 0 auto;
}